
.footcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(199,199,165);
    width:800px;
    height:80px;
    box-shadow:0px 12px 19px -4px rgb(199,199,165);
}
a {
    color:green;
}

.leftarrow {
    width:0;
    height:0;
    margin-right: 20px;
    border-width: 10px 10px 10px 0px;
    border-style:solid;
    border-color: white green white white;
}
.rightarrow {
    width:0;
    height:0;
    margin-left: 20px;
    border-width: 10px 0px 10px 10px;
    border-style:solid;
    border-color: white white white green;
}
